<h1>Dataset "<%= @dataset.name %>" has been created in study "<%= @dataset.study.name %>"!</h1>
<p>
  To review the dataset and make it public please go to <%= dataset_url(@dataset) %><br/>
</p>
<p>Have a nice day!</p>
