<h1>Study "<%= @study.name %>" has been created!</h1>
<p>
  User <%= @user.email %> created the study "<%= @study.name %>".<br/>
</p>
<p>
  To review the study and make it public please go to <%= study_url(@study) %><br/>
</p>
<p>Have a nice day!</p>
