<h1>New user account <%= @user.email %> has been created.</h1>
<p>
  Please review this account and approve its access or remove it from the system according to your consideration.<br>
</p>
<p>
  In order to edit this account you need to access <%= @url %>.<br>
</p>
<p>Thanks!</p>
