<h1>Welcome to <%= @site_name %>, <%= @user.email %></h1>
<p>
  You have successfully signed up to <%= @site_name %>,
  your username is: <%= @user.email %>.<br>
</p>
<p>
  Before you can start using your account, one of our administrators need to review your request and approve it.
  We are very sorry for this inconvenience.<br>
</p>
<p>Thanks for joining and have a great day!</p>
